<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="service" type="Bluewire.Metrics.Service.Configuration.ServiceConfigurationSection, Bluewire.Metrics.Service" allowDefinition="MachineToApplication" restartOnExternalChanges="false" />
  </configSections>
  <service>
    <policy>
      <perMinute enabled="true" daysToKeep="7" />
      <perHour enabled="false" daysToKeep="365" />
    </policy>
    <sources>
      <performanceCounters system="true" />
      <wmi>
        <volumes />
      </wmi>
    </sources>
  </service>
  <log4net>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
